@import './shoping.css';

nav a {
    color: white;
}

nav a:visited {
    color: white;
}

#navbarSupportedContent a:hover {
    opacity: 0.8;
}

.back-top {
    width: 40px;
    height: 35px;
    z-index: 99999;
    position: fixed;
    top: 80%;
    right: 20px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    opacity: 0.8;
}