.tbd {
    background-color: lightcyan;
}

input {
    width: 50px;
    text-align: center;
}



.pric {
    width: 80px;

}

.rwd-table {
    background: #fff;
    overflow: hidden;
}

.rwd-table tr:nth-of-type(2n) {
    background: #eee;
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}

.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table th,
.rwd-table td:before {
    color: #D20B2A;
    font-weight: bold;
}

.settle {
   
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: bisque;
    position: fixed;
    bottom: 40px;
    right: 0;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }



}

@media screen and (min-width:576px) {
    input {
        width: 50px;
    }



}